<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<h1>NHN Academy JDBC Board Modify</h1>

<form method="post" th:action="'/board/modify/' + ${board.id}" enctype="multipart/form-data">
  <div style="display: flex; flex-direction: column; width: 1000px">
    <input type="hidden" name="userName" th:value="${session.user.username}">
    <input type="text" name="title" th:value="${board.title}">
    <textarea cols="10" rows="30" name="content" style="resize: none" th:text="${board.content}"></textarea>

    <br>

    <input type="file" name="uploadFiles" multiple="multiple">

    <br>

    <div style="display: flex; align-items: center; justify-content: end">
      <a href="/">취소</a>
      <button type="submit" style="margin-left: 20px">등록</button>
    </div>
  </div>
</form>

</body>
</html>