<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nhnacademy.mapper.BoardMapper">

    <select id="exist" resultType="int">
        SELECT COUNT(*)
        FROM Board
        WHERE id = #{id} AND deleteYn = 'N'
    </select>

    <select id="findById" resultType="com.nhnacademy.domain.Board">
        SELECT *
        FROM Board
        WHERE id = #{id}
--         SELECT B.id, B.userName, B.modifierName, B.title, B.content, B.regDate, B.updateDate, B.deleteYn, COUNT(*)
--         FROM Board AS B
--                  INNER JOIN Comment AS C ON B.id = C.boardId
--         WHERE B.id = 185 AND B.deleteYn='N' AND C.deleteYn = 'N';
    </select>

    <insert id="registerBoard">
        INSERT INTO Board (userName, title, content)
        VALUES (#{userName}, #{title}, #{content})
    </insert>

    <update id="modifyBoard">
        UPDATE Board
        SET modifierName = #{modifierName}, title = #{title}, content = #{content}, updateDate = now()
        WHERE id = #{id}
    </update>

    <update id="deleteBoard">
        UPDATE Board
        SET deleteYn = 'Y'
        WHERE id = #{id}
    </update>

    <select id="findTotalCount" resultType="int">
        SELECT COUNT(*)
        FROM Board
        WHERE deleteYn = 'N'
    </select>

    <select id="boardGetList" resultType="com.nhnacademy.domain.Board">
        SELECT *
        FROM Board
        WHERE deleteYn = 'N'
        ORDER BY id DESC
        LIMIT #{amount}
        OFFSET #{skip}
    </select>

    <update id="increaseCommentCnt">
        UPDATE Board
        SET commentCnt = commentCnt + 1
        WHERE id = #{id}
    </update>

    <update id="decreaseComment">
        UPDATE Board
        SET commentCnt = commentCnt - 1
        WHERE id = #{id}
    </update>



</mapper>
